@import "../../styles/global.css";

.navbar {
  display: flex;
  background-color: white;
  border-bottom: 1px black solid;
}

.navbar > * {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 4px 0;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  font-weight: 500;
  font-size: var(--text-base);

  @variant md {
    font-size: var(--text-xl);
  }
}

.navbar > *::before {
  content: "";
  position: absolute;
  background-color: var(--color-blue-300);
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate(-50%, -50%) scale(0) rotate(0deg);
}

.navbar > *:hover::before {
  transform: translate(-50%, -50%) scale(1) rotate(120deg);
}

.navbar > * > span {
  position: relative;
  z-index: 1;
}
